@page "/BookOrder/{BookId}"

@using BookPurchase.Web.Order.Models

<EditForm Model="Model" OnValidSubmit="CreateOrderAsync">
	
	<ObjectGraphDataAnnotationsValidator />
	
	<RadzenColumn CLass="rz-m-0">

		<RadzenCard Class="rz-mx-auto rz-p-4">
			<BookInfo @bind-Value=@Model.BookInfo />
		</RadzenCard>

		<RadzenCard Class="rz-my-4 rz-mx-auto rz-p-4">
			<CardInfo @bind-Value="Model.CardInfo" />
		</RadzenCard>

		<RadzenCard Class="rz-my-4 rz-mx-auto rz-p-4">
			<AddressInfo @bind-Value=@Model.AddressInfo />
		</RadzenCard>
	</RadzenColumn>

	<div style="display:flex; justify-content:flex-end;">
		<RadzenButton Text="Book Order" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" />
	</div>

</EditForm>
