@page "/catalog/list"
@rendermode InteractiveServer

<h3>Book List</h3>

<BookPurchase.Web.Catalog.Components.BookListFilter OnSearch="SearchBooks" />

<div class="row mb-3">
    <div class="col-md-12">
        <RadzenDataList Data="@Model.Books" TItem="BookPurchase.Web.Catalog.Models.BookModel" PagerHorizontalAlign="HorizontalAlign.Left" EmptyText="No book was found." >
            <Template Context="book">
                <RadzenCard Variant="Variant.Outlined" class="rz-p-0" Style="width: 100%; overflow: hidden;">
                    <RadzenRow Gap="0">
                        <RadzenColumn Size="12" SizeLG="3" class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-on-secondary-lighter">@(book.Title)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="7" class="rz-p-4">
                            <RadzenRow Gap="0">
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">In Stock</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(book.Description)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-mb-0">Origin</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(book.Author)</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="3" class="rz-text-align-start rz-text-align-lg-end">
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Text=@(book.Available ? "Available": "Out of stock") />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="2" class="rz-p-4">
                            <RadzenButton Text="Order now" Style="width: 100%" />
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </div>
</div>